html {
    background-color: #222629;
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, i, button {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #222629;
    margin: 40px;
    display: block;
}
div {
    color: white;
}

a {
    color: lightblue;
}

.itemGrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 7px;
    row-gap: 7px;
}

#missing {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 50px;
}


#staticTextParentGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

#decapGrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

#container {
    background-color: #474B4F;
    position: relative;
    width: 700px;
    margin: 0px auto;
    padding: initial;
    border: 1px solid #D2DBED;
    border-radius: 5px;
    box-shadow: 3px 3px #888888;
    padding-left: 10px;
    padding-right: 10px;
}

.detailed {
    display: none;
}

#btn {
    margin-top: 10px;
    background-color: #222629;
    color: white;
    border-radius: 4px;
}
#btn:focus {
    outline: none;
    box-shadow: none;
  }
i {
    font-weight: 500;
}