* {
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: rgb(26, 26, 26);
    font-size: 62.5%;
}

textarea {
    width: 100%;
}

h2 {
    font-size: 2.4rem;
}

body {
    margin: 40px;
    display: block;
}
div {
    color: white;
}

a {
    color: lightblue;
}


.container {
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: initial;
    border: 1px solid #D2DBED;
    border-radius: 5px;
    box-shadow: 3px 3px #888888;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #282828;
}

.switch {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 15px;
    margin-left: 190px;
    margin-bottom: 10px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 7px;
    width: 7px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(8px);
    -ms-transform: translateX(8px);
    transform: translateX(8px);
}

.slider.round {
    border-radius: 6px;
}

.slider.round:before {
    border-radius: 50%;
} 

.itemGrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 7px;
    row-gap: 7px;
}

#parentGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 7px;
    row-gap: 7px;
}

#parentGrid div {
    display: flex;
    justify-content: space-between;
}

#hotkeys {
    padding-left: 20px;
    padding-right: 70px;
}


#staticTextParentGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

#decapGrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}


.reminderText {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

#save {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 1rem 1.2rem;
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;
}
.staticText {
    margin: 2px;
}
.switchContainer {
    margin-bottom: 10px;
}

 #options-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
  }

.tablinks {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
}
.tablinks.active, .tablinks:hover, #save:hover {
    color: #ff4d5a;
}
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
  }
  
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    font-size: 1.3rem;
  }

  .tabcontent.active {
      display: block;
  }

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}